
body {
    background-color: salmon;
}

h1 {
    font-family: 'Courier New', Courier, serif;
    font-style: normal;
    font-size: 100px;
    font-weight: bolder; 
}

p{
    text-indent: 40px;
    text-align: left;
    text-decoration: burlywood;
    text-transform: capitalize;

body {
    background-color: salmon;
}

h1 {
    font-family: 'Courier New', Courier, serif;
    font-style: normal;
    font-size: 100px;
    font-weight: bolder; 
}

p{
    text-indent: 40px;
    text-align: left;
    text-decoration: burlywood;
    text-transform: capitalize;

}
